/* Style for the card-container */

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: #322c2c;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  padding: 20px;
  margin-bottom: 30px;
  font-family: sans-serif;
  border-radius: 5px;
}

.card-container .pro {
  background-color: #cdfb19;
  color: #333333;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 15px;
}


.card-container img.round {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 20%;
  margin-bottom: 20px;
}

.card-container h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.card-container h6 {
  font-size: 16px;
  color: #999999;
  margin-bottom: 20px;
}

.card-container p {
  font-size: 16px;
  color: #333333;
  margin-bottom: 20px;
  text-align: center;
}

.card-container .buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.card-container .buttons button {
  font-size: 16px;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
}

.card-container .buttons .primary {
  background-color: #4CAF50;
}

.card-container .buttons .primary.ghost {
  background-color: #6589db;
  border: 1px solid #ffffff;
}

.card-container .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container .skills h6 {
  font-size: 16px;
  color: #999999;
  margin-bottom: 10px;
}

.card-container .skills ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container .skills li {
  font-size: 14px;
  color: #333333;
  list-style-type: none;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #EFEFEF;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Style for the profile-projects section */

.profile-projects {
  background-color: #FFFFFF;

}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #FFFFFF;

}

.project-card {
  background-color: rgba(255, 255, 255, 10); /* add transparency */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin-bottom: 24px;
  width: calc(33.33% - 16px);
  height: 150px; /* adjust the height as needed */
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  background-image: url('https://images.unsplash.com/photo-1614292264554-7dca1d6466d6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
  background-size: cover;
  background-image: opaci
}

@media screen and (max-width: 768px) {
  .project-card {
    width: calc(50% - 16px);
  }
}

@media screen and (max-width: 480px) {
  .project-card {
    width: 100%;
  }
}

.card-image {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px; /* add some margin to the right */
  width: 80px; /* reduce the width of the mentor picture */
  height: 80px; /* reduce the height of the mentor picture */
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* make the image cover the entire circle */
}

.card-content {
  flex: 1; /* make the card content fill the remaining space */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 24px;
  margin-bottom: 8px;
  color: #FFFFFF;
}

.card-description {
  font-size: 16px;
  margin-bottom: 16px;
  flex-grow: 1;
  overflow: hidden; /* hide any overflowing content */
  color: #FFFFFF;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* align the buttons vertically with the description */
}


.reserve{
  background-color: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  padding: 20px;
  margin-bottom: 30px;
  font-family: sans-serif;
  border-radius: 5px;
}
.btn-reserve{
  background-color: #6B63FF !important;
  border:none !important;
}
.reviews{
  border:black solid 1px;
  padding: 30px;
  border-radius: 8px;
  margin:15px 0;
  position: relative;
}
.icone{
  color:#ffcb3f;
  position: absolute;
  bottom: 0;
  right: 20px ;
}
.icone-plus{
  color: gray !important;
  font-size: 25px;
  transition: 0.5s all ease-in-out;
  position: absolute;
  top: 11px;
  right:25px ;
  &:hover{
    transform: scale(1.3);
  }
}
.div-icone{
  position:relative;

}
.photo-show{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20%;
  margin-bottom: 20px;
}
.first-div{
  height: 400px;
  border:rgb(217, 217, 217) 1px solid;
  border-radius:7px;

}
.homoge-font-family {
  font-family: 'Playfair Display', serif!important;
}
.info-show{
  border: 1px solid rgb(217, 217, 217);
  border-radius:7px;
  width: 350px;
  height: 223px;
  padding: 45px;
}
.khra-h4 {
  color: #b04b9b;
  font-size: 30px;
  font-family: 'Roboto', sans-serif!important;
  font-weight: bold !important;
}
.title-hhhhhhh h3{
text-align: left;
font-family: 'Roboto', sans-serif !important;
font-weight: bold!important;
font-size:xx-large;
}
.title-hhhhhhh h4 {
color: gray;
font-size: large;

}
.text-waaaaaaaaa{
  font-size: 20px;
  text-align: justify;
}
