@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

#topics {
  .card{

    font-family: 'Ubuntu', sans-serif !important;
    margin-top: 32px;
    width: 246px;
    height: 290px;
    border: 1px solid rgb(246, 245, 245);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    h3{
      margin-top: 10px;
      font-family: 'Ubuntu', sans-serif !important;
      font-size: 18px;
      padding-left: 16px;
    }
    p{
      margin-top: 10px;
      font-family: 'Ubuntu', sans-serif !important;
      font-size: 13px;
      padding-left: 16px;
    }
    i{
      color: #b1b1b1;
    }
    span.text{
      color:#616161;
    }
  }
  .course-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: none;
    border-radius: 16px;
    margin: 8px;
    max-height: 280px;
    max-width: 230px;
  }
  .price {
    border-radius: 8px;
    background-color: #2e8dff;
    padding: 4px 12px;
    margin-bottom: 4px;
    color: white;
    font-weight: bolder;
  }
  .floating{
    background-color: rgba(255, 255, 255, 0.9);
    top: 163px;
    left: 23px;
    border-radius: 16px;
    position: absolute;
    width: 160px;
    height: 48px;
    display: flex;
    justify-content: start;
    align-items: center;
    img {
      border-radius: 50%;
      width: 32px;
      height: 32px;
      margin: 0 12px;
    }
  }
  .final-div{
    margin: 4px;
  }
}
.btn-topics{
  text-align: center;
  margin: 25px;
}
