@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

#topics {
  .card{

    font-family: 'Ubuntu', sans-serif !important;
    margin-top: 32px;
    width: 290px;
    height: 304px;
    border: 1px solid rgb(246, 245, 245);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    h3{
      margin-top: 10px;
      font-family: 'Ubuntu', sans-serif !important;
      font-size: 20px;
      padding-left: 16px;
    }
    p{
      margin-top: 10px;
      font-family: 'Ubuntu', sans-serif !important;
      font-size: 16px;
      padding-left: 16px;
    }
    i{
      color: #b1b1b1;
    }
    span.text{
      color:#616161;
    }
  }
  .course-img{
    width: 100%;
    height: 100%;
    background-size: auto;
    background-repeat: none;
    border-radius: 16px;
    margin: 5px;
    min-height: 150px;
    max-height: 280px;
    max-width: 280px;
  }
  .price {
    border-radius: 8px;
    padding: 4px 12px;
    margin-bottom: 4px;
    color: #8340dd;
    font-weight: bolder;
  }
  .floating{
    background-color: rgba(255, 255, 255, 0.8);
    top: 140px;
    left: 19px;
    border-radius: 16px;
    position: absolute;
    width: 250px;
    display: flex;
    height: 62px;
    border-radius: 60px;
    justify-content: start;
      align-items: center;

    .img-floating{


  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin: 0 12px;
    }

  }
  .final-div{
    margin: 4px;
  }
  h6 {
      color:#353337;
      margin-top: 10px;
      font-family: 'Ubuntu', sans-serif !important;
      font-size: 12px;
      padding-left: 16px;

    }
    .card-foter {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

}

.btn-topics{
  text-align: center;
  margin: 25px;
}
