<div id="topics" class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All Courses</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
       <%# We found <%= @prof_count %>
       <%# mentors waiting to help you.</p> %>
       <%# %>
    </div>
  </div>
  <br>
  <div class="container" id="topics-container" >
    Total topics  <%= @topics.count %>
    <div class="d-flex justify-content-around align-items-center flex-wrap">
      <% @topics.each do |topic| %>
        <%= render "card", topic: topic %>
      <% end %>
    </div>

  </div>

</div>
