<div id="topics" class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>Courses</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
       We found <%= @prof_count %> mentors waiting to help you.</p>
    </div>
  </div>
  <br>
  <br>
  <div class="d-flex justify-content-around align-items-center flex-wrap">
    <% @topics.each do |topic| %>
      <%= render "card", topic: topic %>
    <% end %>
  </div>
  <br>
  <br>
  <br>

  Total topics  <%= @topics.count %>

</div>
