
<div class="card-container">
	<span class="pro">MENTOR</span>
	<img class="round" src="https://randomuser.me/api/portraits/men/34.jpg" alt="user" />
	<h3><%= @user.first_name %></h3>
	<h6>Rabat</h6>
	<p>User interface designer and <br/> front-end developer</p>
	<div class="buttons">
		<button class="primary">
			100 mad/h
		</button>
		<button class="primary ghost">
    Boonk an Online Course
		</button>
	</div>
	<div class="skills">
		<h6>Tags</h6>
		<ul>
			<li>UI / UX</li>
			<li>Front End Development</li>
			<li>HTML</li>
			<li>CSS</li>
			<li>JavaScript</li>
			<li>React</li>
			<li>Node</li>
		</ul>
	</div>
</div>
