<div id="navbar">
  <div class="container-fluid">
  <a href="">LOGO</a>
    <hr>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

        <% if user_signed_in? %>
          <li>
           <a href="#"  >
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <span>Profile</span>
          </a>
          </li>

        <% else %>
          <li class="nav-item">
            <span><%= link_to "Login", new_user_session_path, class: "nav-link" %></span>
          </li>
        <% end %>

        <li >
          <a href="#"  >
            <i class="fa-solid fa-house-user"></i>
            <span>Home</span>
          </a>
        </li>

        <li >
          <a href="#"  >
          <i class="fa-solid fa-magnifying-glass"></i>
            <span>Search</span>
          </a>
        </li>
        <li >
          <a href="#"  >
          <i class="fa-solid fa-chalkboard-user"></i>
            <span class="text-center">Become a Mentor
            </span>
          </a>
        </li>
        <hr>
        <% if user_signed_in? %>
          <li>
            <span><%= link_to "Log out", destroy_user_session_path, data: {turbo_method:    :delete}, class: "dropdown-item" %></span>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</div>
