
<section class="container">
  <div id="card">
    <figure class="front"><div class="left-div">
      <p class="content-name">Discover passion</p>
      <p class="content-title">C.</p>
      <p class="content-description">Find out what topics you fin interesting.<br/>Learn a new skill & connect with people that are passionate about similar topics.</p>
			<section id="explore">
       <div class="input-group">
          <input type="search" class="form-control rounded p-3" placeholder="What do you want to learn?" aria-label="Search" aria-describedby="search-addon" />
          <button type="button" class="btn btn-outline-primary p-3">search</button>
        </div>
      </section>
  </div>
  <div class="right-div">
      </div>
    </figure>
    <!--<figure class="back"></figure>!-->
  </div>
</section>
<p style="position:absolute;
    bottom:0;
    right:20px; font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
          font-size: 12px; font-weight:300; color:#6e8786">Created by Cole Gwoz</p>

