head>
  <meta charset="utf-8">
  <title>Navigation Bar</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
  <div id="overlay"></div>
  <div id="container" id="timer">
    <div id="circle">
      <i class="fa fa-check"></i>
    </div>
    <h1>Success</h1>
    <p>Check your email for a booking confirmation. We'll see you soon!</p>
   <%= link_to 'Back to all your reservations', reservations_path %>
  </div>
</body>



Resources
