<div id="success-pay">
    <div id="container" id="timer">
    <div id="circle" >
      <i class="fa fa-check" ></i>
    </div>
    <h1>Success</h1>
    <p>Check your email for a booking confirmation. We'll see you soon!</p>
    <br>
   
    <%= link_to 'Back to Lessons booked', reservations_path, class: 'btnn' %>
  </div>
</div>
