.sign{
  padding: 20px 100px;
  margin: 20px;
  background-color: #edf2f5;


  h2{
    text-align: center;
    
  }
}
.form-actions{
  color: white !important;
  background-color: #6944ff;
  text-align: center;
}
