@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


#card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;}

#card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;}

#card .front {
  background: transparent;}

#card .back {
  background: white;
  transform: rotateY( 180deg );}

#card.flipped {
  transform: rotateY( 180deg );}

.container {
  width: 900px;
  // height: 550px;
  position: relative;
  perspective: 800px;
	margin: 20px auto;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
	transform:scale(0.9);
}

.left-div {
  width:450px;
  height:550px;
  background-color:white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  margin: auto
  ;}

.right-div {
  width:598px;
  height:550px;
  // background-image:url(https://images.unsplash.com/photo-1498758536662-35b82cd15e29?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MjN8Njc2OTU0fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60);
  // transform:scaleX(-1);
  // background-position: -170px 0px;
  background-size:cover;
  background-repeat: no-repeat;
  position: absolute;
  top:0;
  right: 0;
  margin: auto;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px rgb(204, 204, 204);
}

.content-name {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 20px;
  text-transform: uppercase;
  color: #7E7E7E;
  font-weight: 700;
  margin-top:160px;
  margin-left:40px;}

.content-title {
  font-family: 'Playfair Display', serif;
  font-size: 44px;
  letter-spacing: 3px;
  font-weight: 700;
  color: #2C2C2C;
  margin-top:100px;
  margin-left:40px;}

.content-description {
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #7e7e7e;
  line-height: 22px;
  margin-left:40px;
}

  .Search{
    margin-left: 30px;
    margin-top:30px;
    padding: 10px;
  }
    .search-new {
      color: white !important;
      background-color: #6b63ff !important;
      border: 1px solid #6b63ff !important;

      &:hover {
        color: #6b63ff !important;
        background-color: white !important;
      }

    }

#explore a {
	position:absolute;
  margin-top:9px;
  color: #2C2C2C;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  margin-left:40px;
  background-color:transparent;
  border:none;
  cursor:pointer;
  background-color: #e9b273;
  padding:12px 12px 12px 12px;
  margin-left:28px;
  border-radius: 15px;
}
.Categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top:20px;
  margin-bottom: 5px;
  width: 80vw;
  padding-left: 100px;

  .cat{
    border-radius: 12px;
    padding: 17px 27px;
    color:#6b63ff ;
    background-color: white;
    border:1px solid #6b63ff;
    margin-bottom: 5px;
    transition: 0.5s;
    &:hover{
      cursor: pointer;
      transform: scale(1.2);
      box-shadow: 5px;
      color: white !important;
        background-color: #6b63ff !important;
        border: 1px solid #6b63ff !important;

    }
  }
}

.teacher {
  border: none;
  border-radius: 24px;
  height: 60vh;
  margin: 24px auto;
  width: 80vw;
  background-size: cover;
}

.styling{
  width:90vh;
  padding: 50px;
  h3{
    font-weight: 900;
    font-family: 'Playfair Display', serif;
  }
  button{
    border:none;
    padding: 7px;
    border-radius: 7px;
    background-color:#6b63ff;
    color:white;
    margin: 0 auto;
    width: 80%;
    display: block;
  }
}
.title{
  padding-left:100px;
}
