@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

}


#card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;}

#card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;}

#card .front {
  background: transparent;}

#card .back {
  background: white;
  transform: rotateY( 180deg );}

#card.flipped {
  transform: rotateY( 180deg );}

.container {
  width: 900px;
  height: 550px;
  position: absolute;
  perspective: 800px;
	margin: 20px auto;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
	transform:scale(0.9);
}

.left-div {
  width:450px;
  height:550px;
  background-color:white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  margin: auto
  ;}

.right-div {
  width:540px;
  height:550px;
  background-image:url(https://png.pngtree.com/png-vector/20210718/ourlarge/pngtree-e-learning-education-online-illustration-png-image_3616764.jpg);
  transform:scaleX(-1);
  background-position: -170px 0px;
  background-size:cover;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px rgb(204, 204, 204);
}

.content-name {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 20px;
  text-transform: uppercase;
  color: #7E7E7E;
  font-weight: 700;
  margin-top:160px;
  margin-left:40px;}

.content-title {
  font-family: 'Playfair Display', serif;
  font-size: 44px;
  letter-spacing: 3px;
  font-weight: 700;
  color: #2C2C2C;
  margin-top:10px;
  margin-left:40px;}

.content-description {
  margin-top: -20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #7e7e7e;
  line-height: 22px;
  margin-left:40px;}

#explore a {
	position:absolute;
  margin-top:9px;
  color: #2C2C2C;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  margin-left:40px;
  background-color:transparent;
  border:none;
  cursor:pointer;
  background-color:rgb(66, 130, 249);
  padding:12px 12px 12px 12px;
  margin-left:28px;
  border-radius: 15px;
}
.Categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top:20px;
  margin-bottom: 5px;

  .cat{
    background-color: #5379f7;
    border-radius: 5px;
    padding: 5px 8px;
    color:black;
    border:none;
    margin-bottom: 5px;
    transition: 0.5s;
    &:hover{
      cursor: pointer;
      transform: scale(1.2);
      box-shadow: 5px;
      background-color: #3f69f3;
    }
  }
}
