
@import "flatpickr/dist/flatpickr.css";

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body{
  background-color: rgb(239, 234, 234);
}
a{
  text-decoration: none !important;
  color:black !important;
}
#topics, #topics-container {
  height: fit-content;
}

.master-container{
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  position: relative;
  margin-bottom: 100px;
  .main-container{
    flex-grow: 1;
    margin-left: 100px;
  }
  .sidebar-container{
    width:100px;
    min-height: 100vh;
    position : fixed;
    background-color: white;
  }
}

#navbar {

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 20px auto 20px auto;
      &:hover{
        i{
          color: #6944ff;
        }
        span{
          color: #6944ff;
        }
      }
    }
  }
  a{
    display:flex;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  i{
    font-size: 1.2em;
    color: rgb(163, 163, 163);
  }

  span {
    display: inline;
    color: rgb(163, 163, 163);
  }
}
.logo{
  img {
    width: 98px;
    margin: 20px 0 0 0;
  }


}

.text-center{
  color: black!important;;
  &:hover{
    color: #6944ff;
  }
}
#navbarDropdown{
  height: 40px;
}

.newtopic {
  color: rgb(75, 72, 72);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Playfair Display', serif;
  font-size: 16px;

  h1{
    font-family: 'Playfair Display', serif;
    padding-left: 125px;
    margin-bottom: 20px;
  }

  .new-topic{
    color: white !important;
      background-color: #6b63ff !important;
      border: 1px solid #6b63ff !important;
  }
  form {
    width: 80%;
    margin: 0 auto;
  }
}
