
@import "flatpickr/dist/flatpickr.css";

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body{
  background-color: rgb(239, 234, 234);
}
a{
  text-decoration: none !important;
  color:black !important;
}

.master-container{
  display: flex;
  .main-container{
    flex-grow: 1;
    margin-left: 100px;

  }
  .sidebar-container{
    width:100px;
    min-height: 100vh;
    position : fixed;
    background-color: white;
  }
}
#navbar {

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 20px auto 20px auto;
      &:hover{
        i{
          color: rgb(7, 7, 252);
        }
        span{
          color: rgb(7, 7, 252);
        }
      }
    }
  }
  a{
    display:flex;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  i{
    font-size: 1.2em;
    color: rgb(163, 163, 163);

  }

  span {
    display: inline;
    color: rgb(163, 163, 163);

  }
}
.logo{
  color:black;
  font-size: 1.2em;
  padding: 2px;
}

.text-center{
  color:rgb(163, 163, 163);
  &:hover{
    color: rgb(7, 7, 252);
  }
}
#navbarDropdown{
  height: 40px;
}

.newtopic {
  color: rgb(255, 255, 255);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  form {
    width: 80%;
    margin: 0 auto;
  }
}
