<ul>
<% @categories.each do |cat| %>
    <li><%= cat.name %></li>
    <li>
      <% cat.topics.each do |top| %>
      <ul>
      <li><%= top.title %></li>
      </ul>
      <% end %>
    </li>
<% end %>
</ul>
